*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Wotford", sans-serif;
  background-color: rgb(10, 12, 16);
  color: white;
}

.container {
  width: 400px;
  height: 200px;
  border: 2px solid;
}

h2 {
  margin: 20px 0;
  border-bottom: 1px solid;
  width: fit-content;
}
