:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

table {
  border-collapse: collapse;
  width: 60%;
  height: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

thead tr {
  color: white;
  background-color: rgb(82, 70, 243);
}

th {
  padding: 12px;
}

tr:nth-child(2n) {
  color: rgb(82, 70, 243);
}

tr:last-child {
  border-bottom: 1px solid rgb(82, 70, 243);
}
