*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Wotford", sans-serif;
}

strong {
  display: inline-block;
  color: white;
  background-color: red;
  width: 100px;
  margin-top: 32px;
  text-align: center;
}

h2 {
  border-bottom: 2px solid;
  width: fit-content;
}

h3 + p {
  width: 700px;
  border: 1px solid;
}

h3 + p a {
  text-decoration: none;
  border-bottom: 2px solid blue;
}

.paragraph-with-inline-block a {
  display: inline-block;
}
