*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Wotford", sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
}

h1 {
  margin: 0 auto;
  border-bottom: 2px solid deeppink;
  transition: all 0.5s ease-out;
}

h1:hover {
  cursor: pointer;
  color: deeppink;
  border-color: transparent;
  transition: all 0.5s ease-in;
}
