@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 300px;
  height: 300px;
}

table tr td {
  text-align: center;
}
